api_id= 21377358
api_hash=e05bc1f4f03839db7864a99dbf72d1cd
bot_token=8838833097:AAHx1wlbF83yEcmPlb_izSjpVWnxx2wlmhE
bot=kimiassistbot
admin=740397179
string_session=BQFGMU4AHaOFCNqzd-rYPQahTDZBBoCptdW75H3rInzpWibL8Sn3imMYiaE
DBGjUUzXcTGewd3vrzMcTaxcAzov8hV_rCx4GfE6SB6dl3d46D75tZDCGlIsbVn8tiXLHkhSMq
HFGTVPJwBCjrxIvr2oQ8Gos1cOBy-sc1JTKOz1Ck-6WL_-09GjllRt36zKhTfZsKEnm3IUICvY
tZcvcqHv2wxnTnkxj5LPPR3h5diavEUsrgQGrASgPdcjkdpFdpPf9hEnC0knLkMSGix1rVM3HT
QBURbriLZ25cOWGG0IOd1fvRugloWDo-BHMRe1lDC36w6aWUil5f2supqswHEURkRLR-gAAAAH
-pi3FAA
tavily_key=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
tmdb_key=y
gemini_key=AQ.Ab8RN6IO37DBBKw9yYe14M89ozdlA2QPK-1OqOH_o9eVsFPWFg
groq_key=xai-JfcfWHL9jsXQ8ZID8rADRK2ycstuRmH3m5l5H0OV7Q4Q853hRvzh67kImj6Mi
ESM7n6JL5QqhrN54eUz
not necessary if its not render
render_api=your_render_api_key_here
